@page
@model multiple_tables.Pages.ShoppingCart.IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartProducts[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartProducts[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartProducts[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (SignInManager.IsSignedIn(User))
        {
            @foreach (var item in Model.CartProducts)
            {
                <tr>
                    <td>
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Product.ImageData)" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
            }
        }
        else
        {
        }
}
    </tbody>
</table>